<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>love.nelson.obsidian</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Obsidian.app/Contents/MacOS/Obsidian</string>
    <string>--disable-renderer-backgrounding</string>
    <string>--disable-background-timer-throttling</string>
    <string>--js-flags=--max-old-space-size=8192</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>ProcessType</key><string>Interactive</string>
</dict>
</plist>
